* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.img-rounded {
    border-radius: 50%;
    background: white;
    height: 250px;
}

.center {
    text-align: center;
    margin-top: 5rem;
    background: #011526;
    padding: 85px 0px;
    margin: 0;
    background: url('https://storage.googleapis.com/profile_wahyu/background2.png');
    background-size: cover;
}

.judul {
    font-size: 22pt;
    color: black;
    font-weight: bold;
    margin: 2px;
}

.sub-judul {
    font-size: 15pt;
    color: black;
    font-weight: bold;
    margin: 2px;
}

.deskripsi-judul {
    font-size: 14pt;
    color: black;
    font-weight: bold;
    margin-top: 35px;
    word-spacing: 6px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.tentang-saya {
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

.deskripsi-tentang-saya {
    font-size: 14pt;
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.pengalaman-saya {
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

.deskripsi-pengalaman-saya {
    font-size: 14pt;
    text-indent: 10px;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.text-center {
    margin-top: 20px;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}